@import url('https://fonts.cdnfonts.com/css/norse');

body {
    margin: 0;
}

* {
    font-family: "Norse", sans-serif;
}

.dashboard-all {
    display: grid;
    grid-template-columns: max(250px) 10fr;
    grid-template-rows: max(115px) 1fr;
} 

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 0;
    background-color: red;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    padding-left: 25px;
}

.sidebartitle {
    margin: 0;
    width: 300px;
    padding: 10px 0 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebarcontent > ul > li, .sidebarsettings > ul > li {
    display: flex;
    align-items: center; 
    gap: 5px;
}

.sidebarcontent > ul > li > img, .sidebarsettings > ul > li > img {
    padding-right: 15px;
}


.sidebar img {
    filter: invert(87%) sepia(35%) saturate(2%) hue-rotate(16deg) brightness(111%) contrast(100%);
}


.topcontainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.upperheader, .bottomheader {
    display: flex;
    justify-content: space-between;
}

.leftside-header, .rightside-header {
    display: flex;
    align-items: center;
}

.leftside-header {
    gap: 10px;
    padding-left: 30px;
}

.rightside-header {
    gap: 15px;
    padding-right: 15px ;
}

.searchbox{
    background-color: lightgray;
    width: 300px;
    height: 15px;
    padding: 5px;
    border-radius: 20px;
}

.icons {
    height: 20px;
}

.profile-picture {
    border-radius: 150px;
    height: 30px;
}

.zoomedprofile {
    height: 45px;
}

.userwelcome > p:first-child {
    font-size: 10px;
    padding-bottom: 5px;
}

.userwelcome > p{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.contentbuttons {
    padding: 10px 20px;
    border-radius: 40px;
    border: 0;
    color: white;
    background-color: red;
    font-weight: bold;
}

.maincontainer {
    grid-column: 2 / 3;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max(40px) 1fr;
}

.maincontainertitle {
    padding: 0 0 10px 40px;
}

.maincontainertitle, .secondmaintitle {
    font-size: 18px;
    font-weight: bold;
}



.cardcontainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px 0 40px 40px;
}


.card {
    display: flex;
    height: 120px;
    width: 225px;
    border-left: 8px solid blue;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    font-size: 10px;

}

.cardtitle {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}



.cardicons {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 15px
}

.rightcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-top: 5px;
}

.announcementtitle {
    font-size: 15px;
    font-weight: bold;
}

.thetext {
    font-size: 10px;
}

.announcement-text {
    border-bottom: 1px solid red;
    font-size: 10px;
}

.announcement {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 250px;
}

.trendingcontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trendingtext p {
    margin: 0;
    font-weight: bold;
}

.trendingtext > .role {
    font-size: 12px;
    opacity: 75%;
}