@import url('https://fonts.cdnfonts.com/css/norse');

body {
    margin: 0;
}

* {
    font-family: "Norse", sans-serif;
}

.dashboard-all {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
} 

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 0;
    background-color: red;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    padding-left: 25px;
}

.sidebartitle {
    margin: 0;
    width: 300px;
    padding: 10px 0 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebarcontent > ul > li, .sidebarsettings > ul > li {
    display: flex;
    align-items: center; 
    gap: 5px;
}

.sidebarcontent > ul > li > img, .sidebarsettings > ul > li > img {
    padding-right: 15px;
}


.sidebar img {
    filter: invert(87%) sepia(35%) saturate(2%) hue-rotate(16deg) brightness(111%) contrast(100%);
}


.topcontainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.upperheader, .bottomheader {
    display: flex;
    justify-content: space-between;
}

.leftside-header, .rightside-header {
    display: flex;
    align-items: center;
}

.leftside-header {
    gap: 10px;
    padding-left: 30px;
}

.rightside-header {
    gap: 15px;
    padding-right: 15px ;
}

.searchbox{
    background-color: lightgray;
    width: 300px;
    height: 15px;
    padding: 5px;
    border-radius: 20px;
}

.icons {
    height: 20px;
}

.profile-picture {
    border-radius: 150px;
    height: 30px;
}

.zoomedprofile {
    height: 45px;
}

.userwelcome > p:first-child {
    font-size: 10px;
    padding-bottom: 5px;
}

.userwelcome > p{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.contentbuttons {
    padding: 10px 20px;
    border-radius: 40px;
    border: 0;
    color: white;
    background-color: red;
    font-weight: bold;
}

.card {
    background-color: lightgray;
}
