@import url('https://fonts.cdnfonts.com/css/norse');

body {
    margin: 0;
}

* {
    font-family: "Norse", sans-serif;
}

.dashboard-all {
    display: grid;
    grid-template-columns: max(250px) 10fr;
    grid-template-rows: max(115px) 1fr;
} 

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: red;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    padding-left: 25px;
}

.sidebartitle {
    width: 300px;
    padding: 10px 0 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebarcontent > ul > li, .sidebarsettings > ul > li {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.sidebar img {
    filter: invert();
}

.upperheader, .bottomheader {
    display: flex;
    justify-content: space-between;
}

.leftside-header, .rightside-header {
    display: flex;
    align-items: center;
}

.leftside-header {
    gap: 10px;
    padding-left: 30px;
}

.rightside-header {
    gap: 15px;
    padding-right: 15px ;
}

.searchbox{
    background-color: lightgray;
    width: 400px;
    height: 15px;
    padding: 5px;
    border-radius: 20px;
}

.icons {
    height: 20px;
}

.profile-picture {
    border-radius: 150px;
    height: 30px;
}

.zoomedprofile {
    height: 45px;
}

.userwelcome > p:first-child {
    font-size: 10px;
    padding-bottom: 5px;
}

.userwelcome > p{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.contentbuttons {
    padding: 10px 20px;
    border-radius: 40px;
    border: 0;
    color: white;
    background-color: red;
    font-weight: bold;
}

.maincontainer {
    background-color: rgb(245, 237, 237);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max(40px) 1fr;
    box-shadow: 0 0 10px red;
}

.maincontainertitle {
    padding: 0 0 10px 40px;
}


.maincontainertitle, .secondmaintitle, .rightcontainer > :nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 0 1px gray;
}



.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px 0 40px 40px;
}


.card {
    height: 120px;
    width: 225px;
    border-left: 8px solid blue;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    font-size: 10px;
    box-shadow: 0 1px 10px gray;
    display: flex;
    flex-direction: column;

}

.cardtitle {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.cardicons {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 15px;
    margin-top: auto;
}

.rightcontainer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 100px;
}

.announcementtitle {
    font-size: 15px;
    font-weight: bold;
}


.announcement-text {
    border-bottom: 1px solid red;
    font-size: 15px;
    padding: 10px 0;
}

.announcement > .lastchildelement {
    border: 0;
}

.announcement {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 250px;
    box-shadow: 0 1px 8px gray;
}

.announcement-text > p {
    margin: 0;
}

.trendingcontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 1px 8px gray;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trendingtext p {
    margin: 0;
    font-weight: bold;
    font-size: 17px;
}

.trendingtext > .role {
    font-size: 12px;
    opacity: 75%;
}